#results-container {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #3c1642;
  color: #b2ff9e;
}
.jambo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jamoHeader h1 {
  text-align: center;
  font-size: 48px;
}

#form-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 24px;
  margin: 20px 0px;
}

#Search {
  height: 30px;
  margin: 0px 10px;
  width: 450px;
}

.subContaine {
  border-style: solid;
  border-color: #1dd3b0;
  margin: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  max-width: 400px;
  /* width: 33%; */
  height: 750px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContaine img {
  width: 90%;
}

.subContaine p {
  height: 10%;
  text-align: center;
  color: #1dd3b0;
}

.title {
  color: blue;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  padding: 10px;
}

.filmLink {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px;
}

* {
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 33%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-width: 700px;
}

#results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#not-found-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
