#results-container {
  width: 100%;
}

.subContaine {
  border-style: solid;
  border-color: black;
  margin: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
  max-width: 400px;
  /* width: 33%; */
  height: 800px;
  float: left;
}

.title {
  color: blue;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

.filmLink {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 33%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 400px;
  height: 400px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
